.App {
  text-align: center;
}

/* Calculator */
.calculator-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 1px;
  background-color: #e0e0e0;
}

.calc-screen {
  background-color: #858692;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 3.5rem;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.calc-button {
  border: none;
  padding: 1rem;
  margin: 0;
}

.calc-button:hover {
  opacity: 0.7;
}

.calc-button:active {
  opacity: 1;
  font-size: 0.5rem;
}

.orange-button {
  background-color: #df4e15;
}

.double-sized {
  grid-column: span 2;
}
